@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

canvas {
  touch-action: none;
}

.gradient {
  background: linear-gradient(90deg, #0c0c0c 0%, #33ced5 100%);
  filter: blur(500px);
}

.background {
  background: linear-gradient(
    90deg,
    #000000,
    #000404,
    #000808,
    #010909,
    #020a0a,
    #030c0c,
    #031111,
    #041313,
    #051616,
    #061919,
    #061919,
    #051616,
    #041313,
    #031111,
    #030c0c,
    #020a0a,
    #010909,
    #000808,
    #000404,
    #000000
  );
}
